<div class="row">
  <div class="col-md-2" style="background-color: lightgray;">
    <i class="fa fa-plus"   style="padding-right: 5px;"></i> Add Feed<br>
    <i class="fa fa-plus"   style="padding-right: 5px;"></i> Add Folder<br>
    <i class="fa fa-expand" style="padding-right: 5px;"></i> View All<br>
  </div>
  <div class="col-md-10">
    asdf<br>
    qwer<br>
    zxcv
  </div>
</div>
