<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ragged</title>
    <link rel="icon" href="/images/rss-4-32.ico" sizes="32x32">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/css/app.css") %>"></script>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body style='padding-top: 70px;' class="bg-custom">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="/images/rss-4-32.png" height=28></img>
        Ragged
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <%= hdr_link(@conn, "ABOUT",  "/about") %>
          <%= if @current_user do %>
            <%= logout_link(@conn, @current_user) %>
          <% else %>
            <%= hdr_link(@conn, "LOGIN",  "/sessions/new") %>
            <%= hdr_link(@conn, "SIGNUP", "/users/new") %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <%= if info_msg = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= info_msg %></p>
      <% end %>
      <%= if error_msg = get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= error_msg %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
      <div style='margin-top: 40px;'>
        <hr>
        <small>
          <ul class="nav justify-content-center">
            <%= ftr_link(@conn, "Demo1", "/demo1") %>
            <%= ftr_link(@conn, "Demo2", "/demo2") %>
            <%= ftr_link(@conn, "News",  "/news")  %>
            <%= ftr_link(@conn, "Users", "/users") %>
          </ul>
        </small>
      </div>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
