<div class="jumbotron text-center" style='padding: 1em; margin-top: 40px;'>
  <h1>Ragged</h1>
  <p>RSS Aggregator, Elixir Dashboard</p>
  <%= if @current_user do %>
    <a role="button" class="btn btn-primary" href="/news">NEWS</a>
  <% else %>
    <a role = "button" class="btn btn-primary" href="/session/new">LOGIN</a>
  <% end %>
</div>

