<div class="md:flex">
  <div class="md:w-1/5">
    <div class="hidden bg-gray-300 md:block">Clock</div>
    <div class="bg-gray-300">Tree</div>
  </div>
  <div class="md:w-4/5">
    <div class="hidden bg-gray-300 md:block">Header</div>
    <div>Body</div>
  </div>
</div>
