<h3>DEMO3</h3>

<div class="row">
  <div class="col-md-6">
    <%= live_render(@conn, FeedexWeb.Demo3.FormInput) %>
  </div>

  <div class="col-md-6">
    <%= live_render(@conn, FeedexWeb.Demo3.FormShow) %>
  </div>
</div>

<hr/>

<%= live_render(@conn, FeedexWeb.TimePstSec) %>
